/.build/
/.gradle/
/artifacts/*
!/artifacts/.gitkeep
/android/.gradle/
/android/.kotlin/
/android/build/
/android/app/build/
/android/app/src/main/jniLibs/
/native/target/
local.properties
*.iml
.idea/
